/* style.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'sans-serif';
}

.hero {
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
